
@import url('https://fonts.googleapis.com/css?family=Lato');
@import "_buttons";
@import "_colors";
@import "_flexproperties";


$textcolor:#fff;
$background: #111;


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


body{
    font-family: 'Lato', sans-serif;
    background-color:$blue;
}

/* NAVIGATION */

.navbar{
    background: $background;
     @include flexproperties(space-around);
     flex-wrap: wrap;

     ul{
        display:flex;

        li{
            font-size:14px;
            list-style-type:none;
            flex-flow: row wrap;
            margin: 10px;

            a{
                color:$textcolor;
                text-decoration: none;

            &:hover{
                color:$lightgrey;
            }
            }
        }
    }
    }
    

.content{
    display:flex;
    flex-direction: row;
}

.thumb{
    margin-left:10%;
}

.headertitle{
    align-items: center;
    margin-top:5%;
    text-align:center;
    color:$textcolor;

    h1{
        margin-bottom:4%;
    }

    p{
        margin-bottom:10%;
        font-size: 25px;
    }
}


.buttonstart{
    background-color:$orange;
    padding:6%;
    color:$textcolor;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 10px;

        &:hover{
            background-color:$lightorange;
        }
}

.point{
    color:$orange;
}

/* SECTIONS */

.title2{
    background-color:#fff;
    padding:1%;
    text-align:center;
}

/* TEXT */

.row{
    display:flex;
    flex-flow: row wrap;
    padding-left:6%;
    padding-right:6%;
    padding-bottom:3%;
    
}

.text{
    width:50%;
    margin-top:2%;
    color:$textcolor;
    padding:10px;
}


.partners{
    @include flexproperties(center);
    flex-flow:row wrap;
    background-color:#fff;

        img{
            margin-right:10px;
        }

}


.buttons{
    display:flex;
    justify-content: center;
    padding-top:50px;
    font-size:20px;
    text-align:center;
    background-color:#fff;

        a{
            @include buttons;

            &:hover{
                background-color:$lightblue;
                }
        }

        a:nth-child(3){
            background-color:$orange;
        
        
        &:nth-child(3):hover{
                background-color:$lightorange;
        }
    }
    }



/* FOOTER */



.footerbottom{
background: $background;
 @include flexproperties(space-around);
 flex-wrap: wrap;

    ul{
        display:flex;

        li{
            font-size:14px;
            list-style-type:none;
            flex-flow: row wrap;
            margin: 10px;

            a{
                color:$textcolor;
                text-decoration: none;
                padding-right:10px;
                border-right: 1px dotted #fff;

                &:hover{
                    color:$lightgrey;
                }
            }
        }
    }

    
}





