@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato:700');

$color:#fff;
$background-orange:#E99002;
$background-grey: #333;

/* GLOBAL */

* {
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-family:'Lato', sans-serif;
    background-color:#1E93CC;
}

header{
    width:100%;
    min-height: 100%;
}

/* NAVIGATION */

nav{
background: #333;
}

.nav{
    display:flex;

    ul{
        margin: 0px;
        padding: 0px;
        background: $background-grey;
        list-style-type: none;
    }

    a {
        padding: 1em;
        display: block;
        text-align:center;
        text-decoration: none;
        color:$color;
    }

}



.nav .menu {
    display: flex;
    flex-direction : row;
    justify-content: space-between;
    width:60%;
    margin-left:100px;
}


.nav li:nth-child(1){
    margin-top:-23px;
    
}

.nav .login{
    margin-left:200px;
}



.point{
    color:#E99002;
    font-size: 40px;
}



/* CONTENT */

.headercontent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.image{
 padding:2em;
}

.contentright{
    margin-top:3%;
    text-align:center;
}

.buttonstart{
    background-color:$background-orange;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    color:$color;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;
}

.logo{
    font-size:45px;
    color:$color;
}

.slogan{
    margin-top:-30px;
    padding-bottom: 15px;
    color:$color;
}

.point2{
    color:#E99002;
    font-size: 70px;
}

.awesome{
    margin-top:-5px;
    background-color:#fff;
    padding:20px;
    text-align:center;
    font-size:30px;
}

.innovat{
    background-color:#fff;
    width:100%;
    margin:0;
    padding:0;
    text-align:center;
}

.innovat img{
    width:100%;
    margin-top:-25px;
}

.innovative{
    margin-top:-5px;
    background-color:#fff;
    padding:20px;
    text-align:center;
    font-size:30px;
}

.sections{
    margin-top:-310px;
    display: flex;
    color:$color;
    padding:100px;
}

.sections h1{
    font-size: 30px;
}

.simple{
    padding:20px;
}

.built{
    padding:20px;
}


.buttons{
    display:flex;
    justify-content: center;
    margin-top:50px;
    font-size:20px;
}

.buttons a{
    width:150px;
    padding:20px;
    background-color:#165882;
    color:$color;
    margin:3px;
    border-radius:10px;
    margin-bottom:100px;
    font-weight:bold;
    text-decoration: none;

}
.buttons a:nth-child(3){
    background-color:$background-orange;
}


/* FOOTER */

footer{
    background-color: #333;
    width:100%;
}

.footerbottom{
    display:flex;

}

.footerbottom ul{
    margin: 0px;
    padding: 0px;
    width:50%;
    background-color: #333;
    list-style-type: none;
}



.footerbottom a {
    padding: 1em;
    display: block;
    text-decoration: none;
    color: $color;
    border-right: 1px dotted #fff;

}

.copyright{
    color:$color;
    width:100%;
    margin-left:700px;
}



.footer {
    display: flex;
    flex-direction : row;
    justify-content: flex-start;
}


/* MEDIA QUERIES */

 @media(max-width: 450px) {
     
     .menu{
      flex-flow: column wrap;
     
         }
     
     .headercontent{
         flex-direction: column;
     }
     
     .footer{
         flex-flow: column wrap;
     }
}